/* первичный цвет текста  #757575*/
/* вторичный цвет текста #212121 */
/* цвета лого #000000; FFFFFF; #2196F3 */
/* цвет акцента #2196F3 */
/* белый #FFFFFF */
/* цвет фона #E5E5E5 */

:root {
  /* text-color */
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;

  /* fonts  */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}
/* body */

body {
  background-color: #ffffff;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;

  /* outline: solid 2px tomato; */
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
}
.ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* header */

.header {
  border-bottom: 2px solid #ececec;
}

/* logo */

.header-logo {
  display: flex;

  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-logo-part {
  color: #000000;
}

/* main-nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* header-nav */

.header-nav {
  display: flex;
  align-items: center;
}

/* navigation */

.navigation {
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: flex;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.curent {
  color: var(--accent-color);
}

/* connect */
.connect {
  display: flex;
}

/* call */
.call {
  display: flex;

  justify-content: end;
}
.call .item + .item {
  margin-left: 50px;
}

.call-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.call-link:hover,
.call-link:focus {
  color: var(--accent-color);
}

/* team */

.team {
  display: flex;
}

.group {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.guys {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-items {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

/* hero */

.hero {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer */

.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}

.footer-logo {
  display: inline-block;
  color: var(--accent-color);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-logo-part {
  color: #ffffff;
}

.footer-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* qualities */

.qualities {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* skills */

.skills {
  display: flex;
}

.skills .item {
  width: calc((100% -90px) / 4);
  margin-right: 30px;
}

.skills .item:last-child {
  margin-right: 0;
}

.skills .item::before {
  display: block;
  content: " ";
  height: 120px;
  outline: 1px solid red;
  background-color: #f5f4fa;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/svg/antenna\ 1.svg);
}
.icon-clock::before {
  background-image: url(../images/svg/clock\ 1.svg);
}
.icon-diagram::before {
  background-image: url(../images/svg/diagram\ 1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/svg/astronaut\ 1.svg);
}

/* .skills .item:not(:last-child) {
  margin-right: 30px;
} */

.skills-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* button */

.button {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item {
  color: var(--title-color);
  background-color: #ffffff;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}

.btn-item:hover,
.btn-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);

  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}

/* portfolio */

/* exemples */

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples .item:nth-child(3n) {
  margin-right: 0;
}

.examples .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}

.examples-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

/* projects */

.projects {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* work */

.working {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.work {
  display: flex;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* address */

.place {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
}

.adds {
  margin: 0;
  padding: 0;
  font-style: inherit;
}
.tel {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
